# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Playground/.vs/Playground/v16/ipch/AutoPCH/5adeee5c0b6b28a0
/Playground/.vs/Playground/v16
/Playground/Debug/Playground.tlog
/Playground/Debug
